a{
  text-decoration: none;
  color: inherit;
}
.route--active {
  font-weight: bold;
  text-decoration: underline;
  background-color: #ccc;
}

.nav-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #dedede;
}

.nav-item{
  width: 25%;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
}