.core-layout__viewport {
  //padding-top: 4rem;
}

.core-layout {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  //border: 1px solid red;
}
